.page {
	margin: 0 auto;
	/* выше для экранов больше 1600px отцентрировали весь контент */
	font-family: 'Helvetica Neue', Arial, sans-serif;
	min-width: 856px;
}

.flexboxCont {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
