.header {
	position: relative;
	width: 100%;
	background-color: #12171f;
	height: fit-content;
	overflow: hidden;
}

.header__logo {
	margin-left: 39px;
	margin-top: 18px;
}

.header__container {
	width: 650px;
	margin: 0 auto;
	margin-bottom: 60%;
}

.header__title {
	margin: 0;
	margin-top: -1px;
	line-height: 95%;
	font-family: NEXTART;
	font-size: 85px;
	font-style: normal;
	text-align: left;
	max-height: 200px;
	background-image: linear-gradient(195deg, #6c81bd 25%, #90ca94);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	position: relative;
	z-index: 5;
}

.header__title2 {
	margin: 0;
	margin-top: -14px;
	color: aliceblue;
	font-family: NEXTART;
	font-style: normal;
	font-size: 85px;
	font-weight: 400;
	background-image: linear-gradient(
		195deg,
		#6c81bd 25%,
		#90ca94
	); /* Замените цвета на нужные вам */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	z-index: 5;
}

.header__subtitle {
	margin: 23px 0px 0px 0px;
	color: #fbfbfb;
	font-size: 20px;
	width: 272px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	word-spacing: 5px;
	position: relative;
	z-index: 5;
}

.header__button {
	position: relative;
	margin-right: 87px;
	display: flex;
	align-items: center;
	outline: none;
	border: none;
	color: #273146;
	background-image: linear-gradient(
		195deg,
		#6c81bd 25%,
		#90ca94
	); /* Градиентный фон кнопки */
	height: 40px;
	width: 193px;
	border-radius: 151px;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 14px;
	text-align: left;
	word-spacing: 3px;
	z-index: 5;
}
.header_btn-img {
	right: 8%;
}

.header__line {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	min-width: 856px;
}
.header__containerBox {
	margin-top: 520px;
	background-color: #374055;
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 550px;
}

.header__planet {
	position: absolute;
	bottom: 0px;
	z-index: 2;
	width: 100%;
	min-width: 856px;
}
.header__img-eclipse {
	position: absolute;
	z-index: 3;
	bottom: 110px;
	right: 10px;
}

.header__img-text {
	position: absolute;
	right: 49px;
	bottom: 70px;
}

@media screen and (max-width: 900px) {
	.header__containerBox {
		height: 550px;
	}
}

@media screen and (min-width: 1000px) {
	.header__containerBox {
		height: 800px;
	}
}
@media screen and (min-width: 1200px) {
	.header__containerBox {
		height: 800px;
	}
}

@media screen and (min-width: 1400px) {
	.header__containerBox {
		height: 900px;
	}
}

@media screen and (min-width: 1600px) {
	.header__containerBox {
		height: 1000px;
	}
}

@media screen and (min-width: 1800px) {
	.header__containerBox {
		height: 1100px;
	}
}

@media screen and (min-width: 2000px) {
	.header__containerBox {
		height: 1200px;
	}
}
