.cases {
	height: 657px;
	position: relative;
	background-color: #0f151d;
	overflow: hidden;
}
.cases__100__img {
	position: relative;
	left: 25%;
	top: 28px;
}
.cases__heading {
	margin-top: 55px;
	margin-left: 25%;
	font-family: NEXTART;
	font-size: 19.9px;
	font-weight: 400;
	color: #939ab1;
}
.cases__text {
	line-height: 1.25;
	margin-top: -15px;
	margin-left: 25%;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 550;
	font-size: 14.1px;
	font-style: normal;
	background-image: linear-gradient(180deg, #6c81bd 20%, #90ca94);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.cases__berry5__img {
	position: absolute;
	right: -7%;
	top: -24px;
	z-index: 1;
}

.cases__berry6__img {
	position: absolute;
	right: 20%;
	top: 109px;
	z-index: 1;
}

.slider-wrapper {
	position: relative;
	width: 55%;
	margin: 7% auto;
	overflow: visible;
	z-index: 5;
}

.slider-container {
	width: 100%;
	overflow: hidden;
}

.slider {
	width: 100%;
	padding: 0;
}

.slides {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 2s ease;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 2s ease;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
}

.slide.active {
	opacity: 1;
	visibility: visible;
	position: relative;
}

.cases__item {
	max-width: 23%;
	margin: 0 3px;
	flex: 1;
}

.slider-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
	width: 50px;
	height: 50px;
}

.left {
	left: -7%;
}

.right {
	right: -7%;
}

.left,
.right {
	width: 50px;
	height: 50px;
}

.slider-control:hover img {
	opacity: 0.8;
}

.slider-control:active img {
	opacity: 0.6;
}
