.cases {
	height: 557px;
	position: relative;
	background-color: #0f151d;
	overflow: hidden;
}
.cases__100__img {
	position: relative;
	left: 8%;
	top: 28px;
}
.cases__heading {
	position: relative;
	z-index: 6;
	margin-top: 55px;
	margin-left: 8.1%;
	font-family: NEXTART;
	font-size: clamp(1.25rem, calc(0.7rem + 1.03vw), 1.63rem);
	font-weight: 400;
	color: #939ab1;
}
.cases__text {
	position: relative;
	line-height: 1.25;
	margin-top: -15px;
	margin-left: 8.1%;
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 550;
	font-size: clamp(0.88rem, calc(0.33rem + 1.03vw), 1.25rem);
	font-style: normal;
	background-image: linear-gradient(180deg, #6c81bd 20%, #90ca94);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	z-index: 4;
}

.cases__berry5__img {
	width: 37%;
	position: absolute;
	right: -7%;
	top: -24px;
	z-index: 1;
}

.cases__berry6__img {
	width: 70%;
	position: absolute;
	right: 20%;
	top: 109px;
	z-index: 1;
}

.slider-wrapper {
	position: relative;
	width: 87.8%;
	margin: 10% auto;
	overflow: visible;
	z-index: 5;
}

.slider-container {
	width: 100%;
	overflow: hidden;
}

.slider {
	width: 100%;
	padding: 0;
}

.slides {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s ease;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 0;
}

.slide.active {
	opacity: 1;
	visibility: visible;
	position: relative;
}

.cases__item {
	max-width: 23%;
	margin: 0 3px;
	flex: 1;
}

.slider-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
	width: 50px;
	height: 50px;
}

.left {
	left: -5.8%;
}

.right {
	right: -5.8%;
}

.left,
.right {
}

.slider-control:hover img {
	opacity: 0.8;
}

.slider-control:active img {
	opacity: 0.6;
}

.cases__img-control {
	width: 76%;
}

@media screen and (max-width: 700px) {
	.cases {
		height: 290px;
	}
	.cases__100__img {
		position: relative;
		left: 11.4%;
		top: 12px;
		width: 27%;
	}
	.cases__heading {
		margin-top: 25px;
		margin-bottom: 18px;
		font-size: clamp(0.88rem, calc(0.56rem + 1.58vw), 1.25rem);
	}

	.cases__text {
		font-size: clamp(0.63rem, calc(0.41rem + 1.05vw), 0.88rem);
	}

	.cases__img-control {
		width: 36%;
	}

	.left {
		left: -9%;
	}

	.right {
		right: -9%;
	}
	.slider-control {
		top: 54%;
	}
	.slider-wrapper {
		margin-top: 13%;
	}
}

@media screen and (min-width: 490px) {
	.cases {
		height: 330px;
	}
}

@media screen and (min-width: 550px) {
	.cases {
		height: 390px;
	}
}

@media screen and (min-width: 700px) {
	.cases {
		height: 460px;
	}
}

@media screen and (min-width: 880px) {
	.cases {
		height: 550px;
	}
}

@media screen and (min-width: 1100px) {
	.cases {
		height: 667px;
	}
}

@media screen and (min-width: 1450px) {
	.cases {
		height: 767px;
	}
}

@media screen and (min-width: 1750px) {
	.cases {
		height: 867px;
	}
}
