.blogers {
  background-color: #374055;
  position: relative;
	min-width: 320px;
}


.blogers__text-section {
  position: relative;
  padding-left: 0;
  z-index: 3;
  list-style-type: none;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: auto;
  min-width: 520px;
  width: 80%;
}
.blogers__subtitle {
  margin-top: 0;
  margin-left: 5%;
  font-family: NEXTART;
  font-size: clamp(0.94rem, calc(0.73rem + 1.04vw), 1.56rem);
  font-weight: 400;
  color: white;
}
.blogers__item {
  margin-top: 20px;
  height: 92px;
 
}
.blogers__text1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 550;
  font-size: clamp(0.44rem, calc(0.17rem + 1.34vw), 1.13rem);
  font-style: normal;
  background-image: linear-gradient(20deg, #6c81bd 20%, #90ca94);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 15px;
}

.blogers__item:not(:last-child) {
  border-bottom: 1.5px solid white;
}

.blogers__berry1__img,
.blogers__berry2__img,
.blogers__berry3__img {
  position: absolute;
  z-index: 1;
}
.blogers__berry3__img {
  right: 1%;
  top: 50px;
}
.blogers__berry2__img {
  left: 1%;
  top: 20%;
}
.blogers__berry1__img {
  left: 40%;
  bottom: 60px;
}

.blogers__title {
	position: relative;
	padding-top: 5%;
  margin-top: 0;
  z-index: 3;
  margin-left: 5%;
  font-family: NEXTART;
  font-size: 35px;
  font-weight: 400;
  color: white;
  max-width: 100%;
}

@media only screen and (max-width: 2500px){
	.blogers{
		height: 1020px;
	}
 

	.blogers__title{
		margin-left: 11%;
	}

	.blogers__berry3__img {
		right: 15%;
		top: -5%;
		width: 30%;
	}
	
	.blogers__berry2__img {
		left: 2%;
		top: 20%;
		width: 30%;
	}
	
	.blogers__berry1__img {
		left: 40%;
		bottom: 1%;
		width: 25%;
	}
}


@media only screen and (max-width: 2000px)
{
	.blogers{
		height: 1035px;
	}


	.blogers__item{
		height: 105px;
	}

	.blogers__title{
		margin-left: 11%;
	}

	.blogers__berry3__img {
		right: 7%;
		top: -5%;
		width: 35%;
	}
	
	.blogers__berry2__img {
		left: 2%;
		top: 30%;
		width: 35%;
	}
	
	.blogers__berry1__img {
		left: 40%;
		bottom: -2%;
		width: 25%;
	}
}


@media (max-width: 1500px){
	.blogers{
		height: 1000px;
	}


	.blogers__title{
		margin-left: 11%;
	}


	.blogers__berry3__img {
		right: 6%;
		top: -5%;
		width: 45%;
	}
	
	.blogers__berry2__img {
		left: 1%;
		top: 30%;
		width: 40%;
	}
	
	.blogers__berry1__img {
		left: 50%;
		bottom: 2%;
		width: 30%;
	}
}


@media (max-width: 1300px){
	.blogers{
		height: 975px;
	}


	.blogers__title{
		margin-left: 11%;
	}


	.blogers__berry3__img {
		right: 8%;
		top: -3%;
		width: 40%;
	}
	
	.blogers__berry2__img {
		left: 1%;
		top: 30%;
		width: 40%;
	}
	
	.blogers__berry1__img {
		left: 50%;
		bottom: -2%;
		width: 35%;
	}

}



@media (max-width: 1100px){
	.blogers{
		height: 940px;
	}


	.blogers__title{
		margin-left: 11%;
	}


	.blogers__berry3__img {
		right: 2%;
		top: -2;
		width: 50%;
	}
	
	.blogers__berry2__img {
		left: 1%;
		top: 30%;
		width: 50%;
	}
	
	.blogers__berry1__img {
		left: 55%;
		bottom: 1%;
		width: 35%;
	}


	
}


@media (max-width: 950px){


  .blogers__item{
    height: 95px;
  }


#first{
  height: 110px;
}

.blogers{
	height: 870px;
}

.blogers__title{
	margin-left: 11%;
}


.blogers__berry3__img {
	right: 2%;
	top: 20px;
	width: 50%;
}

.blogers__berry2__img {
	left: 1%;
	top: 30%;
	width: 50%;
}

.blogers__berry1__img {
	left: 50%;
	bottom: 3%;
	width: 40%;
}

}


@media (max-width: 860px) {
  .blogers {
    height: 755px;
  }

  .blogers__text-section {
    min-width: 0;
    width: 80%;
    margin-left: 8%;
    margin-right: auto;
  }


  .blogers__item {
    height: 80px;
  }

	#first{
		height: 90px;
	}



  .blogers__berry3__img {
    right: 2%;
    top: 20px;
    width: 50%;
  }

  .blogers__berry2__img {
    left: 1%;
    top: 30%;
    width: 50%;
  }

  .blogers__berry1__img {
    left: 50%;
    bottom: 3%;
    width: 35%;
  }

  .blogers__title {
    font-size: 30px;
    margin-left: 12%;
  }

  .blogers__subtitle{
    font-size: 20px;
		margin-left: 5%;
  }
}



@media (max-width: 740px) {
  .blogers {
    height: 695px;
  }

	.blogers__item{
		height: 70px;
	}

	#first{
		height: 85px;
	}

	.blogers__berry3__img{
		top: 2%;
	}
	.blogers__berry2__img{
		top: 30%;
	}
	.blogers__berry1__img{
		bottom: 1%;
	}
}


@media (max-width: 600px){
  .blogers{
    height: 645px;
  }


	.blogers__item{
		height: 65px;
	}

	#first{
		height: 78px;
	}

  .blogers__subtitle{
    font-size: 18px;
  }

  .blogers__title{
    font-size: 27px;
    margin-left: 12%;
  }

	.blogers__berry3__img{
		top: 10%;
	}
	.blogers__berry2__img{
		top: 35%;
	}
	.blogers__berry1__img{
		bottom: 5%;
	}

	
}


@media (max-width: 540px){
	.blogers{
		height: 635px;
	}

	.blogers__berry3__img {
		right: 15%;
		top: 10%;
	}
	.blogers__berry2__img {
		left: 1%;
		top: 40%;
	}
	.blogers__berry1__img {
		left: 45%;
		bottom: 5%;
	}
	.blogers__item{
		height: 65px;
	}
}


@media (max-width: 480px){
  .blogers{
    height: 580px;
  }
  .blogers__subtitle{
    font-size: 15px;
  }
  .blogers__title{
    font-size: 24px;
    margin-left: 12%;
  }
  .blogers__text1{
    font-size: 9px;
  }
	.blogers__berry3__img {
		right: 15%;
		top: 10%;
	}
	.blogers__berry2__img {
		left: 1%;
		top: 40%;
	}
	.blogers__berry1__img {
		left: 45%;
		bottom: 4%;
	}
	.blogers__item{
		height: 60px;
	}
	#first{
		height: 50px;
	}
}


@media (max-width: 370px){
	.blogers{
		height: 570px;
	}

	.blogers__item{
    height: 60px;
  }
	.blogers__text1{
		font-size: 8.5px;
	}

	#first{
		height: 80px;
	}

	.blogers__berry3__img {
		right: 15%;
		top: 10%;
		width: 50%;
	}
	.blogers__berry2__img {
		left: 1%;
		top: 40%;
		width: 50%;
		
	}
	.blogers__berry1__img {
		left: 45%;
		bottom: 5%;
		width: 45%;
	}

}




















