.blogers {
	/* border: solid 1px red; */
	background-color: #374055;
	height: 1028px;
	position: relative;
}
.blogers__img {
	margin-top: 5.5%;
	margin-left: 30.5%;
	z-index: 2;

}
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%; /* или max-width для ограничения ширины */
	padding: 20px; /* Подстройте отступы по вашему дизайну */
}
.text-section {
	list-style-type: none;
	margin-top: 70px;
	margin-left: 275px;
	margin-right: auto;
	min-width: 520px;
	width: 50%;
}
.heading {
  margin-top: px;
	margin-left: 74px;
	font-size: NEXTART;
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.item {
  margin-top: 35px;
  height: 92px;
}
.text1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400; /* Например, для нормального начертания */
  font-style: normal; /* Для обычного стиля */
}

.item:not(:last-child) {
	border-bottom: 1.5px solid white;
}
