.blogers {
	/* border: solid 1px red; */
	background-color: #374055;
	height: 900px;
	position: relative;
}
.blogers__img {
	position: relative;
	margin-top: 5.5%;
	margin-left: 30%;
	z-index: 2;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%; /* или max-width для ограничения ширины */
	padding: 20px; /* Подстройте отступы по вашему дизайну */
}
.blogers__text-section {
	position: relative;
	z-index: 3;
	list-style-type: none;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	min-width: 520px;
	width: 60%;
}
.blogers__heading {
	margin-left: 12%;
	font-family: NEXTART;
	font-size: 20px;
	font-weight: 400;
	color: white;
}
.blogers__item {
	margin-top: 35px;
	height: 92px;
}
.blogers__text1 {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 550;
	font-size: 14px;
	font-style: normal;
	background-image: linear-gradient(20deg, #6c81bd 20%, #90ca94);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.blogers__item:not(:last-child) {
	border-bottom: 1.5px solid white;
}

.blogers__berry1__img,
.blogers__berry2__img,
.blogers__berry3__img {
	position: absolute;
	z-index: 1;
}
.blogers__berry3__img {
	right: 1%;
	top: 50px;
}
.blogers__berry2__img {
	left: 1%;
	top: 314px;
}
.blogers__berry1__img {
	left: 40%;
	bottom: -95px;
}

.blogers__header{
	position: relative;
	top: 3%;
	left: 28.5%;
	font-family: NEXTART;
	font-size: 35px;
	font-weight: 400;
	color: white;
}