.footer {
	position: relative;
	/* position: relative; */
	width: 100%;
	height: fit-content;
	background-image: radial-gradient(
		ellipse farthest-corner at 100% 100%,
		#1c2435,
		#18202e,
		#141b26,
		#121923,
		#0f151d 67%
	);
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #fff;
}

.footer__heading {
	display: flex;
	justify-content: flex-end; /* Выравнивание дочерних элементов по правому краю */
	align-items: flex-end; /* Выравнивание дочерних элементов по нижнему краю */
	position: relative;
	width: 100%;
	min-height: 154px;
	margin-top: 5%;
}

.footer__main {
	margin: 0;
	position: relative;
	width: max-content;
}
.footer__main-text {
	width: max-content;
	white-space: nowrap;
	margin: -1px;
	margin-top: 7.5%;
	margin-left: 2.7%;
	color: aliceblue;
	font-family: NEXTART;
	letter-spacing: 0px;
	font-style: normal;
	font-size: clamp(5.31rem, calc(3.02rem + 4.28vw), 6.88rem);
	font-weight: 400;
	background-image: linear-gradient(
		195deg,
		#6c81bd 25%,
		#90ca94
	); /* Замените цвета на нужные вам */
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	z-index: 2;
	line-height: 90.7%;
}

.footer__button {
	margin: 0;
	position: absolute;
	color: #1c2435;
	background-color: #fff;
	border: none;
	border-radius: 25px; /* Фиксированное значение для сохранения формы */
	padding: 0.9% 5% 0.9% 1.8%; /* Относительные значения для адаптивности, но можно добавить min-padding и max-padding через медиазапросы */
	font-weight: 600;
	font-size: 1.75vw;
	font-size: clamp(
		12px,
		1.75vw,
		22px
	); /* Адаптивный размер текста с минимальным и максимальным значениями */
	right: -1.5%;
	bottom: 8.5%;
}

.footer__columns {
	margin: 103px 0 0 0;
	display: flex;
	width: 100%;

	justify-content: space-between;
}
.footer__aboutUs {
	width: 63%;
	margin-left: 7%;
}

.footer__aboutUs-title {
	margin: 0;
	margin-bottom: 17px;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	font-weight: bold;
}

.footer__aboutUs-paragraph {
	line-height: 1.26;
	margin-top: 2px;
	margin-bottom: 87px;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	font-weight: 550;
	color: #9b9b9c;
}

.footer__aboutUs-author {
	white-space: nowrap;
	margin-bottom: 36px;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	font-weight: Bold;
}

.footer__nav {
	width: 140px;
}

.footer__nav-title {
	margin: 0;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	margin-left: 10px;
}

.footer__list {
	margin: 0; /* Убирает внешние отступы */
	padding: 0; /* Убирает внутренние отступы */
	list-style-type: none; /* Убирает маркеры списка */
}

.footer__item {
	white-space: nowrap;
	margin: 0 10px;
	line-height: 2.5;
	color: #9b9b9c;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	font-weight: bold;
}

.footer__contacts {
	margin-right: 5%;
}

.footer__contacts-title {
	margin: 0;
	margin-left: 10px;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	font-weight: bold;
}

.footer__contacts-copy {
	margin: 0 10px;
	line-height: 2.5;
	color: #9b9b9c;
	font-size: clamp(0.63rem, calc(0.45rem + 0.89vw), 1.25rem);
	font-weight: bold;
}

@media screen and (max-width: 855px) {
	.footer__button {
		padding: 1% 4% 1% 2%;
	}
	.footer__main-text {
		margin: 0;
		margin-left: 7%;
		font-size: clamp(1.88rem, calc(-0.07rem + 9.73vw), 5.31rem);
	}
}

@media screen and (max-width: 700px) {
	.footer__main {
		margin: 0;
		margin-top: 14px;
	}
	.footer__main-text {
		margin: 0;
		margin-left: 11px;
		letter-spacing: 1.2px;
		line-height: 92%;
	}
	.footer__button {
		font-size: 14px;
		padding: 2.4% 11.8% 2.8% 4.5%;
		margin-top: 19px;
		margin-left: 25px;
		position: relative;
	}
	.footer__contacts {
		order: 1;
	}
	.footer__nav {
		order: 2;
	}
	.footer__aboutUs {
		display: none;
	}

	.footer__aboutUs-author {
		display: block;
		margin: 0;
		margin-top: ;
		margin-top: 57px;
		margin-left: 10px;
	}

	.footer__columns {
		margin: 0;
		margin-top: 45px;
	}

	.footer__contacts {
		margin-left: 20px;
	}

	.footer__contacts-title {
		margin-bottom: 5px;
	}

	.footer__nav {
		margin-right: 1%;
	}
	.footer__item {
		margin-left: 25px;
	}

	.footer__nav-title {
		margin-left: 25px;
	}
}
